<%- include("header") -%>
<div class="container-fluid">
  <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="/">todoey</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
<div>
  <!-- form for signup -->
<form action="/signup" class="form-signin" method="POST">
  <h1 class="h3 mb-3 font-weight-normal">Sign up here</h1>
  <label for="inputFname" class="sr-only">Full Name</label>
  <input name="name" type="text" id="inputName" class="form-control" placeholder="Full Name" required autofocus autocomplete="off"><br>  
  <label for="inputEmail" class="sr-only">Email address</label>
  <input name="emailID" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus autocomplete="off"><br>
  <label for="password" class="sr-only">Password</label>
  <input type="password" class="form-control" name="password" placeholder="Password" required autofocus autocomplete="off"> 
  <button class="btn btn-outline-light btn-lg download-button mt-5 mb-3 text-muted" type="submit" >Sign Up</button><br>
  <h4>Already have an account?<a href="login">LogIn</a></h4>
  <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
</form>
</div>




   